.form{
display: flex;
gap:8px;
align-items: center;
justify-content: center;
margin-top: 36px;
margin-bottom: 32px;
}

.form input{
  border-radius: 4px;
width: 272px;
height: 40px;
border: 1px solid #808080;
padding: 8px 16px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #808080;
box-sizing: border-box;
}

.input-error {
  background-color:#f28a8a;
}

.input-error::placeholder {
  color: #fff;
}

.form input:hover{
  border-color: #000;
}

.form input:focus{
  border-color: #4e75ff;
  outline:none;
}

form button{
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
}

form button:hover{
  background-color: #6c8cff;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap:24px;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.gallery-item{
    width: ((100% - 48px) / 3);
    border: 1px solid #808080;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.gallery-item:hover{
  transform: scale(1.02);
  border-color: #6c8cff;
}

.gallery-link{
  display: block;
}

.gallery-image{
  display: block;
  width: 360px;
  height: 200px;
  cursor:zoom-in;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 4px 0;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 2;
  margin: 0;
}

.info-item b {
  font-weight: 600;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

#loader {
  display: flex;
  justify-content: center;
  margin: 16px auto 0 auto;
}

#loader.visually-hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-top: 4px solid red;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #6c8cff;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#load-more {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
  border: none;
  margin: 32px auto 0 auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#load-more:hover {
  background-color: #6c8cff;
}

#load-more.visually-hidden {
  display: none;
}